@charset "UTF-8";

body{
    background-color: rgb(180, 219, 180);
}
#principal{
    background-color: green;
    color: white;
}
h1{
    color: green;
}
.basico{
    color: green;
}
.intermediario {
    color: yellow;
}
.avancado{
    color: red;
}
.destaque{
    background-color: yellow;
}